<mat-card class="container-card" *ngFor="let data of dataClient">
    <mat-card-header fxLayoutAlign="center">
        <img mat-card-avatar id="back" (click)="onBack()" src="../../../../assets/images/back-arrow.ico"
            alt="back-arrow" width="40px">
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle>{{data.state | stateClient}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row nowrap" fxLayoutGap="3px">
        <!-- Personal Data -->
        <div class="first-col" fxLayout="row wrap" fxLayoutGap="1rem">
            <div *ngIf="data.schedule" class="data" fxLayout="row nowrap"><span>
                    <h5>Cumpleaños:</h5>
                </span><span>
                    <p>{{data.birthday | date: 'dd/mm/yy'}}</p>
                </span></div>
            <div class="data" fxLayout="row nowrap"><span>
                    <h5>Fecha ingreso:</h5>
                </span><span>
                    <p> {{data.date | date: 'dd/MM/yyyy'}} </p>
                </span></div>
            <div class="data" fxLayout="row nowrap"><span>
                    <h5>Cedula:</h5>
                </span><span>
                    <p>{{data.numberID}}</p>
                </span></div>
            <div class="data" fxLayout="row nowrap"><span>
                    <h5>Teléfonos:</h5>
                </span><span>
                    <p>{{data.phone}}</p>
                </span></div>       

        </div>
        <!-- observations -->
        <div class="second-col" fxLayout="column" fxLayoutGap="1rem">
            <div>
                <h5>Mutualista:</h5>
                <div class="data">
                    <p>
                        {{data.hospital}}
                    </p>
                </div>
            </div>
            
            <div>
                <h5>Enfermedad:</h5>
                <div class="observation">
                    <p>
                        {{data.sick}}
                    </p>
                </div>

            </div>
            <div>
                <h5>Observaciónes del cliente:</h5>
                <div class="observation">
                    <p>{{data.observations}}</p>
                </div>

            </div>
        </div>
    </mat-card-content>

</mat-card>


    <!-- table that showing informations about data payments -->
<div class="container-payments">

    <h2 id="header-table">Listado de Pagos</h2>

    <table class="table" mat-table matSort [dataSource]='dataPayments' class='mat-elevation-z8'>
        <!-- column in table -->
    <ng-container matColumnDef='number'>
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef='let element;index as index'>{{index+1}}</td>
        </ng-container>
    
        <!-- Column -->
        <ng-container matColumnDef='date'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef='let element'> {{element.date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <!-- Column -->
        <ng-container matColumnDef='payForm'>
            <th mat-header-cell *matHeaderCellDef>Forma de pago</th>
            <td mat-cell *matCellDef='let element'> {{element.payForm}} </td>
        </ng-container>
    
        <!-- Column -->
        <ng-container matColumnDef='state'>
            <th mat-header-cell *matHeaderCellDef>Estado del pago</th>
            <td mat-cell *matCellDef='let element'> {{element.state | stateClient}} </td>
        </ng-container>
    
    
    
        <!-- Actions Column -->
        <!-- <ng-container matColumnDef='actions'>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef='let element'>
            <button matTooltipClass='tooltip' matTooltip='Eliminar' matTooltipPosition='left' 
                mat-icon-button (click)='deletePay()'>
                <mat-icon id="delete">delete_outline</mat-icon>
            </button>
            </td>
        </ng-container> -->
    
    
        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    
    
        <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
    </table>
</div>