<div class="container" fxLayout= "column nowrap" fxLayoutAlign="center center" fxLayoutGap="3rem">

    <div class="accounting">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Ingresos mensuales</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                  <h3>Dentro de la card de contabilidad</h3>
              </mat-card-content>
        </mat-card>
    </div>
    <div class="graph">
        <h3>Graphic</h3>
    </div>

</div>

<app-panic></app-panic>
